    <div class="fixed px-12 py-6 flex flex-row justify-between min-w-full text-xl bg-black/10">
        <a href="/">Beam Time</a>
        <div>
            <a href="#about">About.</a>
            <a href="#music">Music.</a>
            <a href="#video">Video.</a>
            <a href="#booking">Booking.</a>
        </div>
    </div>
