---
layout: layout.njk
---

<div class="my-24 md:mx-24">
    {% for article in articles %}
    <div>{{ article.title }}</div>
    <div>{{ article.autor }}</div>
    <p>{{ article.body | markdown | safe }}</p>
    {% endfor %}
</div>