---
layout: layout.njk
---

<div class="my-24 md:mx-24">
    <img class="block ml-auto mr-auto" src="/images/beamtimeii.jpg" alt="Beam Time II">
    <h1 class="text-2xl text-center my-12">
        Beam Time II is now available.
        <a class="underline" href="https://beamtime.bandcamp.com/albums/beamtime-ii">Get it on Bandcamp.</a>
    </h1>

    <div class="my-24" id="about">
    <h2 class="text-xl my-12">About</h2>
    <p class="my-8 max-w-4xl">
        Beam Time currently consists of: David Dasenbrook (instruments, songs), Kees van Koten (drums), Erik Sevenans (production, mastering).
    </p>
    <p class="my-8 max-w-4xl">
        It is Beam Time. It is time to retreat into your own head. But keep on your dancing shoes. Beam Time is a solo effort by David Fuzzball, known by some as the guitarrist and songwriter in Geneva-based indie-pop outlet Le Fuzzball and Munich-based Bring Your Bear. Beam Time is also a rock band and a disco club. You can be part of it, too. Beam Time is a psychological experiment as well. It is inspired by the pictures in David's head. Beam Time is a dance competition. Shows us your best moves. Beam Time is a feminist movement. Beam Time is a call for animal liberation. Beam Time is a hippie community, so wear nice colours. Sometimes, Beam Time is a folk band. Beam Time is based in Munich, and Cologne. For Beam Time, you should turn the volume way up. Beam Time knows about quantum physics. Once it is Beam Time, you will know what to do. Beam Time might one day be the normal time. Furthermore, with Beam Time, you can always have a nice cup of tea.
    </p>
    <p class="my-8 max-w-4xl">
        David would like to thank Irwin, Joe, Margot, Mona, Andrew and Patrick from Le Fuzzball and Erik, Bene, Kevin and Kees from A Tiger / Bring Your Bear for endless musical inspiration, friendship, and valuable feedback. He would also like to thank Uzrukki Schmidt and William E. for feedback, support and fun times. He is also indebted to Nia, Will, and Rob.
    </p>
    <p class="my-8 max-w-4xl">
        Beam Time likes and supports:
        <a href="http://heforshe.org">HeForShe</a>,
        <a href="http://dasnexus.de">Das Nexus</a>,
        <a href="http://lefuzzball.com">Le Fuzzball</a>,
        <a href="http://www.villanachttanz.de">Villa Nachttanz</a>,
        <a href="http://ardour.org">Ardour</a>,
        <a href="https://alexanderhcielg.wordpress.com/">Alexander Hcielg</a>,
        <a href="https://william-e.bandcamp.com/">William E.</a>
    </p>
    </div>

    <div class="my-24" id="music">
    <h2 class="text-xl my-12">Discography</h2>
    <div class="flex flex-row justify-center">
        <a class="w-1/4 mx-1" href="https://beamtime.bandcamp.com/album/beam-time">
            <img src="/images/beamtimei.jpg" alt="Beam Time">
        </a>
        <a class="w-1/4 mx-1" href="https://beamtime.bandcamp.com/album/kangaroo">
            <img src="/images/kangaroo.jpg" alt="Kangaroo">
        </a>
        <a class="w-1/4 mx-1" href="https://beamtime.bandcamp.com/album/kangaroo">
            <img src="/images/beamtimeii.jpg" alt="Beam Time II">
        </a>    
    </div>
    </div>

    <div class="my-24" id="video">
    <h2 class="text-xl my-12">Video</h2>
    <div class="flex flex-row justify-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MRejE-EbTR0" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

    <div class="my-24" id="booking">
    <h2 class="text-xl my-12">Booking</h2>
    <p>Contact info at beamtime dot net for all enquiries.</p>
    </div>
</div>